
  <ul>
  <% @peeps.each do |peep| %>
      <li><%= peep.message %><br>
          <%= peep.maker.name %>
          <%= peep.created_at %>
      </li>
  <% end %>
  </ul>
  
  <% if current_maker %>
    <div id="new-peep">
    <form action="/peeps" method="post">
      Message: <input type="text" name="message">
      Hashtags: <input type="text" name="hashtags">
      <input type="submit" value="Add peep">
    </form>
  <%else%>
    <a href='/makers/new'>Sign up!</a>
  <% end %>
</div>

