<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chitter</title>
</head>
<body>
  <ul>
  <% @peeps.each do |peep| %>
    <li><%= peep.message %></li>
  <% end %>
  </ul>
</body>
</html>