<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chitter</title>
</head>
<body>

  <% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
  <% end %>

  <% if current_maker %>
    Welcome, <%= current_maker.email %>
  <% end %>
  <%= yield %>
</body>
</html>